h1, h3
{
    text-align:center;
}
h3
{
    background-color:rgb(192, 112, 47);
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#596177;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: rgb(224, 165, 77);
}
